# Configuration Supabase - Mairie de Za-Kpota

VITE_SUPABASE_URL=https://uhcslvhfpfaztokimtbg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVoY3NsdmhmcGZhenRva2ltdGJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NjQ5OTYsImV4cCI6MjA4OTU0MDk5Nn0.AbEo4Sd-2CQunE6FLDz6LluAOOdaW5-Rr-SZJZ74E_Y
